*{
    margin: 0;
    padding: 0;
    text-align: center;
}


h1{
    background-color: #081b31;
    color: white;
    height: 5rem;
    line-height: 5rem;
}

.choices{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 5rem;
}

.choice{
    font-size: 8rem;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    
    cursor:pointer;
    background-color: #081b31;
}

.scorebord{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    font-size: 2rem;
    margin-top: 5rem;
}

#user-score, #comp-score{
    font-size: 5rem;
}

.msg-container{
    margin-top: 5rem;
}


#msg{
    background-color: #081b31;
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}